<form class="row loginComponents">

  <div *ngIf="alert" class="alert alert-danger" id="errorAlert" role="alert">
    Email and/or password incorrect!
  </div>

  <div class="mb-1">
    <img src="../../assets/CloudWish.png" class="logoImg" alt="logo" width="120" height="120">
  </div>

  <div class="mb-2">
    <label class="form-label">
      <i class="bi bi-person-badge"></i>
      Email
    </label>
    <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com" required #email>
  </div>

  <div class="mb-3">
    <label class="form-label">
      <i class="bi bi-file-lock"></i>
      Password
    </label>
    <input type="password" class="form-control" id="inputPassword" placeholder="**********" required #password>
  </div>

  <button class="mb-1 btn btn-dark" id="loginButton" (click)="onClickLogin(email.value, password.value)">Login</button>

</form>