.loginComponents{
    padding-top: 2%;
}

.logoImg{
    margin-left: 37%;
    border: 2px solid black;
    border-radius: 60px;
}

input{
    border: 1px solid black;
    border-radius: 10px;
}

.link{
    margin-left: 23%;
}

button{
    width: 30%;
    margin-left: 33%;
}

@media(max-width: 1100px){
    

}